$scolor1:#F2EBDF;
$ssize: 100%;
$scenter: center;
$sabpos: absolute;

@mixin Center-Family{
    align-items: center;
    align-content: center;
    justify-content: center;
}

$typecolors:(
    color-cremme: #F2EBDF,
    color-clear: white,
    color-dark: black,
);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.showcase {
    position: $sabpos;
    right: 0;
    width: $ssize;
    height: 400px;
    align-items: $scenter;
    background: map-get($map: $typecolors, $key: color-dark);
    z-index: 2;
    display: inline-block;
}

.showcase header {
    position: $sabpos;
    z-index: 1000;
    width: $ssize;

}

.showcase video {
    position: $sabpos;
    top: 0;
    left: 0;
    width: 100%;
    height: $ssize;
    object-fit: cover;
    opacity: 0.45;

}

.text {
    position: relative;
    z-index: 10;
}

.overlay {
    position: $sabpos;
    top: 0;
    left: 0;
    width: $ssize;
    height: $ssize;
    background: rgba(0, 0, 0, 1);
}

.logo {
    width: 6rem;
    height: 6rem;
    position: relative;
    left: 1.25rem;
}

.store1 {
    position: relative;
    top: 0.5rem;
    left: 1.25rem;
    color: $scolor1;
}


h1 {
    text-align: $scenter;
    position: relative;
    color: $scolor1;
    top: 10rem;
}

;@import "nav-bar";

a {
    text-decoration: none;
    position: relative;
    color: $scolor1;
}

.tienda {
    position: relative;
    top: 25rem;
    background-color: $scolor1;
    height: 39.375rem;
}

.ferrari:hover {
    -webkit-animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.redbullcap:hover {
    -webkit-animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.mercedes:hover {
    -webkit-animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.remera:hover {
    -webkit-animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.row{
    margin-top: 3rem;
}

.shopnow {
    text-align: $scenter;
}

.cta {
    border: none;
    background: none;
    position: relative;
    top: 10rem;
    color: map-get($map: $typecolors, $key: color-dark);

 
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: $sabpos;
    width: $ssize;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.div1 {
    position: relative;
    top: 8rem;
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: $scenter;
    position: relative;
    font-size: 2.4rem;
    top: 3rem;
}

.section2 {
    position: relative;
    top: 25rem;
    background-color: $scolor1;
    height: 39rem;
}

.pviaje {
    position: relative;
    top: 5.5rem;
    text-align: $scenter;

}

.divideo {
    display: flex;
    justify-content: $scenter;
    position: relative;
    top: 7rem;
}

.section3 {
    position: relative;
    top: 25rem;
    background-color: $scolor1;
    height: 39rem;
}

.h2nosotros {
    position: relative;
    top: 8rem;
    color: map-get($map: $typecolors, $key: color-clear);
}

.pnosotros {
    color: map-get($map: $typecolors, $key: color-clear);
    background-image: url(/img/redbullcar.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: $ssize;
    height: 400px;
    text-align: $scenter;
    padding-top: 200px;
}

.section4 {
    position: relative;
    top: 25rem;
    height: 28rem;
    background-color: $scolor1;
}

.pcontacto {
    position: relative;
    top: 4rem;
    text-align: $scenter;
}

.divcontacto {
    display: flex;
    position: relative;
    top: 6rem;
    justify-content: $scenter;
    gap: 8rem;
}

footer {
    position: relative;
    top: 25rem;
    background-color: $scolor1;
    @include Center-Family;
}
