nav {
    justify-content: $scenter;
}

nav ul {
    display: flex;
    position: relative;
    gap: 5.1rem;
}

ul li {
    list-style: none;
    position: relative;
    left: 1rem;
}

nav ul li a:hover {
    color: $scolor1;
    text-decoration: none
}